<footer id="footer">
    <!-- top footer -->
    <div class="img">
        <img src="~/_UserAssets/img/footer5.PNG" height="260x" width="450px" alt="">

        </div>
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">About Us</h3>
                  <!--      <p>Sản phẩm này dùng cho mục đích tham khảo :V</p>-->
                        <ul class="footer-links">
                            <li><a href="http://hau.edu.vn/"><i class="fa fa-map-marker"></i>Trường ĐH Kiến Trúc Hà Nội</a></li>
                            <li><a href="https://globfone.com/call-phone/"><i class="fa fa-phone"></i>+84-35995720</a></li>
                            <li><a href="https://support.google.com/mail/answer/8494?hl=vi&co=GENIE.Platform%3DDesktop"><i class="fa fa-envelope-o"></i>Moonshop@gmail.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Danh mục</h3>
                        <ul class="footer-links">
                            <li><a href="JPNovel">Novel Nhật Bản</a></li>
                            <li><a href="CNNovel">Novel Trung Quốc</a></li>
                            <li><a href="KRNovel">Novel Hàn Quốc</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Dịch vụ</h3>
                        <ul class="footer-links">                          
                            <li><a href="CartItem">Xem giỏ hàng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->
    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>